<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Invoice Workflow</title>

    <script src="/js/jquery-3.2.1.min.js"></script>

    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous"/>

    <!-- Optional theme -->
    <link rel="stylesheet" href="/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous"/>
    <link rel="stylesheet" href="/css/bootstrap-select.min.css"/>

    <!-- Custom theme -->
    <link rel="stylesheet" href="/css/workflow.css"/>

    <!-- Latest compiled and minified JavaScript -->
    <script src="/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <script src="/js/bootstrap-select.min.js"></script>

</head>
<body>


<nav th:fragment="navbar-section" class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index">
                <span class="glyphicon glyphicon-briefcase"></span>
                Invoice Workflow
            </a>
        </div>
        <div id="navbar" class="collapse navbar-collapse">
            <ul class="nav navbar-nav navbar-right">
                <li th:classappend="${isContractorsPage} ? active : ''">
                    <a href="/contractors">
                        <span class="glyphicon glyphicon-user"></span>
                        Kontrahenci
                    </a>
                </li>
                <li th:classappend="${isListPage} ? active : ''">
                    <a href="/index">
                        <span class="glyphicon glyphicon-th-list"></span>
                        Lista Wniosków
                    </a>
                </li>
                <li th:classappend="${isAddRequest} ? active : ''">
                    <a href="/add-new-invoice">
                        <span class="glyphicon glyphicon-plus"></span>
                        Dodaj Wniosek
                    </a>
                </li>
                <li th:classappend="${isMyProfile} ? active : ''">
                    <a href="/my-profile">
                        <span class="glyphicon glyphicon-user"></span>
                        Mój profil
                    </a>
                </li>
                <li>
                    <a href="/logout">
                        <span class="glyphicon glyphicon-off"></span>
                        Wyloguj
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>

</body>
</html>