body{
    background: url("../images/b20.png");
}

.login-page-box{
    width: 350px;
    margin: 100px auto;
}

.login-page-links{
    height: 10px;
    margin-top: 15px;
}

.reset-page-box{
    width: 450px;
    margin: 100px auto;
}