body{
    background: url("../images/b7.png");
}

.flags{
    width: 30px;
    margin-right: 4px;
}

.empty-list-box{
    padding: 50px;
    text-align: center;
    font-weight: bold;
}

.service-request-header{
    border-bottom: 1px solid #e5e5e5;
}

.workflow-arrow-box{
    text-align: center;
    margin-bottom: 10px;
}