<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base-template :: headSection (customJS='add-service-request.js')"/>
<body>

<nav th:replace="fragments/base-template :: navbar-section"/>

<div class="container" style="margin-top: 100px">


    <form class="form-horizontal" name="form" method="post" th:object="${serviceRequestForm}" th:action="@{/request/create}">
        <fieldset>

            <!-- Form Name -->
            <legend th:text="#{newServiceRequest.formName}"></legend>

            <!-- Name input-->
            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                <label class="col-md-4 control-label" for="name" th:text="#{newServiceRequest.label.name}"></label>
                <div class="col-md-4">
                    <input id="name" name="name" type="text" th:field="*{name}" th:placeholder="#{newServiceRequest.placeholder.name}" class="form-control input-md">
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"></span>
                </div>
            </div>

            <!-- Location -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="location" th:text="#{newServiceRequest.label.location}"></label>
                <div class="col-md-4">
                    <select id="location" name="location" th:field="*{location}" class="form-control selectpicker" data-live-search="true">
                        <option th:each="location : ${locations}" th:value="${location}" th:text="${location}"></option>
                    </select>
                </div>
            </div>

            <!-- Contractor -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="contractor" th:text="#{newServiceRequest.label.contractor}"></label>
                <div class="col-md-4">
                    <select id="contractor" name="contractor" th:field="*{contractor}" class="form-control selectpicker" data-live-search="true">
                        <option th:each="contractor : ${contractors}" th:value="${contractor.identifier}" th:text="${contractor.name}"></option>
                    </select>
                </div>
            </div>

            <!-- Contractor Service -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="contractorService" th:text="#{newServiceRequest.label.contractorService}"></label>
                <div class="col-md-4">
                    <select id="contractorService" name="contractor-service" th:field="*{contractorService}" class="form-control selectpicker" data-live-search="true">
                        <option th:each="contractorService : ${contractorServices}" th:value="${contractorService.id}" th:text="${contractorService.name}"></option>
                    </select>
                </div>
            </div>

            <!-- Price -->
            <div class="form-group" th:classappend="${#fields.hasErrors('price')}? 'has-error'">
                <label class="col-md-4 control-label" for="price" th:text="#{newServiceRequest.label.price}"></label>
                <div class="col-md-4">
                    <div class="input-group">
                        <input id="price" name="price" th:field="*{price}" class="form-control" th:placeholder="#{newServiceRequest.placeholder.price}" type="text">
                        <select name="currency" th:field="*{currency}" class="selectpicker">
                            <option th:each="curr : ${currencies}" th:value="${curr}" th:text="${curr}"></option>
                        </select>
                    </div>
                    <span class="help-block" th:if="${#fields.hasErrors('price')}" th:each="err : ${#fields.errors('price')}" th:text="#{${err}}"></span>
                </div>
            </div>

            <!-- Button -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="saveButton"></label>
                <div class="col-md-4">
                    <button type="submit" id="saveButton" name="saveButton" class="btn btn-success" th:text="#{newServiceRequest.button.save}"></button>
                </div>
            </div>

            <input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}"/>
        </fieldset>
    </form>

</div>
</body>
</html>