<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base-template :: headSection (customJS='contractor.js')"/>
<body>

<nav th:replace="fragments/base-template :: navbar-section"/>

<div class="container" style="margin: 100px auto">


    <form class="form-horizontal" name="form" method="post" th:object="${contractor}" th:action="@{/contractor/{id}/update(id=*{identifier})}">
        <fieldset>

            <legend th:text="#{contractorPage.formName}"></legend>

            <th:block th:if="${result != null}" th:switch="${result.name()}">
                <div th:case="'CONTRACTOR_CREATED'" class="alert alert-success" role="alert">
                    <span th:text="#{contractorPage.contratorCreated}"></span>
                </div>

                <div th:case="'CONTRACTOR_UPDATE_SUCCESS'" class="alert alert-danger" role="alert">
                    <span th:text="#{contractorPage.contratorUpdated}"></span>
                </div>

                <div th:case="'CONTRACTOR_UPDATE_FAILURE'" class="alert alert-warning" role="alert">
                    <span th:text="#{contractorPage.contratorNotUpdated}"></span>
                </div>
            </th:block>

            <div class="form-group" th:classappend="${#fields.hasErrors('name')}? 'has-error'">
                <label class="col-md-4 control-label" for="name" th:text="#{newContractor.labels.name}"></label>
                <div class="col-md-4">
                    <input id="name" th:field="*{name}" type="text" th:placeholder="#{newContractor.placeholders.name}" class="form-control input-md">
                    <span class="help-block" th:if="${#fields.hasErrors('name')}" th:each="err : ${#fields.errors('name')}" th:text="#{${err}}"></span>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('email')}? 'has-error'">
                <label class="col-md-4 control-label" for="email" th:text="#{newContractor.labels.email}"></label>
                <div class="col-md-4">
                    <input id="email" th:field="*{email}" type="text" th:placeholder="#{newContractor.placeholders.email}" class="form-control input-md">
                    <span class="help-block" th:if="${#fields.hasErrors('email')}" th:each="err : ${#fields.errors('email')}" th:text="#{${err}}"></span>
                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('telephone')}? 'has-error'">
                <label class="col-md-4 control-label" for="telephone" th:text="#{newContractor.labels.phone}">Telephone</label>
                <div class="col-md-4">
                    <input id="telephone" th:field="*{telephone}" type="text" th:placeholder="#{newContractor.placeholders.phone}" class="form-control input-md">

                </div>
            </div>

            <div class="form-group" th:classappend="${#fields.hasErrors('address')}? 'has-error'">
                <label class="col-md-4 control-label" for="address" th:text="#{newContractor.labels.address}"></label>
                <div class="col-md-4">
                    <textarea class="form-control" id="address" th:field="*{address}"></textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="saveBtn"></label>
                <div class="col-md-4">
                    <button id="saveBtn" type="submit" name="saveBtn" class="btn btn-success" th:text="#{newContractor.button.save}"></button>
                </div>
            </div>

        </fieldset>
    </form>

    <form>
        <fieldset>
            <legend>Usługi</legend>
        </fieldset>
        <input id="contractorId" type="hidden" th:value="${contractorId}">
    </form>

    <div id="services">
        <div class="row" th:each="service : ${services}">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly" th:attr="data-identifier=${service.id},data-org=${service.name}" th:value="${service.name}"/>
                    <span class="input-group-btn">
                        <div>
                            <button class="btn btn-success approve-service" type="button">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-warning cancel-service" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary edit-service" type="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-danger" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div id="template" style="display: none;">
        <div class="row">
            <div class="col-lg-6 col-lg-offset-3">
                <div class="input-group">
                    <input type="text" class="form-control" readonly="readonly"/>
                    <span class="input-group-btn">
                        <div>
                            <button class="btn btn-success approve-service" type="button">
                                <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-warning cancel-service" type="button">
                                <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
                            </button>
                        </div>
                        <div>
                            <button class="btn btn-primary edit-service" type="button">
                                <span class="glyphicon glyphicon-cog" aria-hidden="true"></span>
                            </button>
                            <button class="btn btn-danger" type="button">
                                <span class="glyphicon glyphicon-trash" aria-hidden="true"></span>
                            </button>
                        </div>
                    </span>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6 col-lg-offset-3">
            <div class="input-group">
                <input type="text" class="form-control" placeholder="New service"/>
                <span class="input-group-btn">
                    <button class="btn btn-success add-service" type="button">
                        <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
                    </button>
                </span>
            </div>
        </div>
    </div>


</div>
</body>
</html>