<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:replace="fragments/base-template :: headSection (customJS=null)"/>
<body>

<nav th:replace="fragments/base-template :: navbar-section"/>

<div class="container" style="margin-top: 100px">

    <div class="panel panel-primary">
        <div class="panel-heading">
            <h3 class="panel-title">Dane faktury</h3>
        </div>
        <div class="panel-body">

            <div th:with="expr_result = ${invoice == null}">
                <div th:if="${expr_result}">
                    <div class="alert alert-danger" role="alert">
                        <span>Brak takiej faktury</span>
                    </div>
                </div>
                <div th:unless="${expr_result}">
                    <div>
                        <label for="invoiceIdentifier">Identyfikator</label><br/>
                        <span id="invoiceIdentifier" th:text="${invoice.identifier}"></span>
                    </div>

                    <div>
                        <label for="invoiceName">Nazwa</label><br/>
                        <span id="invoiceName" th:text="${invoice.name}"></span>
                    </div>

                    <div>
                        <label for="invoiceCreationDate">Data utworzenia</label><br/>
                        <span id="invoiceCreationDate" th:text="${#dates.format(invoice.creationTime, 'dd-MM-yyyy')}"></span>
                    </div>

                    <a th:href="@{/index}">
                        <button type="button" class="btn btn-primary">
                            <span class="glyphicon glyphicon-chevron-left"></span>
                            <span>Powrót</span>
                        </button>
                    </a>
                </div>
            </div>

        </div>
    </div>

</div>
</body>
</html>