<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/base-template :: headSection (customJS='my-profile.js')"/>
<body>

<nav th:replace="fragments/base-template :: navbar-section"/>

<div class="container" style="margin-top: 100px">

    <div class="panel panel-default">
        <div class="panel-heading">
            <h3 class="panel-title">Section about me</h3>
        </div>

        <div  class="alert alert-success" role="alert">
            <span th:text="${user}"></span>
        </div>

        <div  class="alert alert-info" role="alert">
            <span th:text="${auth}"></span>
        </div>

        <div class="panel-body">
            <div>Form with user data</div>
            <select id="selector" class="selectpicker" data-live-search="true">
                <option>Mustard</option>
                <option>Ketchup</option>
                <option>Relish</option>
                <option>Meat</option>
                <option>Nutella</option>
            </select>
        </div>
    </div>
</div>
</body>
</html>